<div class="card">
    <div class="card-header">
      Ejercicio 2
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="txtmes" class="form-label">Mes (número)</label>
        <input type="number" class="form-control" id="txtmes" [(ngModel)]="mes.numeroMes">
      </div>
      <button (click)="obtenerNombreMes()" type="button" class="btn btn-primary">Procesar</button>
      <hr>
    @if (mostrarResultado) {
      <div class="alert alert-primary" role="alert">
        {{mes.nombreMes}}
      </div>
    }
  </div>
</div>